<?xml version="1.0" encoding="utf-8"?>

<manifest package="com.cyrillrx.starwarsapi"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SwApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".RootActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".film.FilmActivity" />
        <activity
            android:name=".film.FilmListActivity"
            android:label="@string/label_films" />

        <activity android:name=".people.PersonActivity" />
        <activity
            android:name=".people.PersonListActivity"
            android:label="@string/label_people" />

        <activity android:name=".planet.PlanetActivity" />
        <activity
            android:name=".planet.PlanetListActivity"
            android:label="@string/label_planets" />

        <activity android:name=".species.SpeciesActivity" />
        <activity
            android:name=".species.SpeciesListActivity"
            android:label="@string/label_species" />

        <activity android:name=".starship.StarshipActivity" />
        <activity
            android:name=".starship.StarshipListActivity"
            android:label="@string/label_starships" />

        <activity android:name=".vehicles.VehicleActivity" />
        <activity
            android:name=".vehicles.VehicleListActivity"
            android:label="@string/label_vehicles" />
    </application>

</manifest>